html, body{
    background-color: #F0F0F0;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body *{
    transition: border-color 0.8s ease-in-out, background-color 0.6s ease-in-out, background-image 0.6s ease-in-out, color 0.8s ease-in-out, box-shadow 0.8s ease-in-out;
}

body{
    background-position: top;
    background-size: 100% auto;
    background-repeat: no-repeat;
    transition: background 0.6s ease-in-out;
}

@font-face{
        font-family: Source Serif Pro;
        src: url(../fonts/SourceSerifPro-Regular.ttf);
}

@font-face{
        font-family: Source Serif Pro Semibold;
        src: url(../fonts/SourceSerifPro-Semibold.ttf);
}

div#grid{
    background-color: transparent;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 40px 490px 20px 270px  40px 1fr;
    grid-template-rows: 260px 84px 1fr;
    width: 100%;
}

div#grid > *{
    grid-column: 3 / 6;
    z-index: 1;
}

div#grid #bg{
    height: 100%;
    position: absolute;
    width: 100%;
}

div#grid div.border{
    height: 100%;
    width: 100%;
    background: #858585;
}

div#grid div.left{
    border-left: 2px solid #242424;
    grid-column: 2 / 2;
}

div#grid header{
    align-items: center;
    box-sizing: border-box;
    display: flex;
    height: 260px;
    justify-content: center;
    width: 100%;
}

header div.logo{
    border: dashed #242424 6px;
    height: 200px;
    margin-right: 100px;
    width: 162px;
}

header div.logo svg{
    box-sizing: border-box;
    height: 100%;
    padding: 6px;
}

svg path{
    transition: fill 0.6s ease-in-out;
}

header div.msg{
    align-items: flex-end;
    display: grid;
    grid-template-columns: 12px 1fr;
    grid-template-rows: 1fr 1fr;
}

header div.msg p{
    color: #242424;
    font-family: 'Source Serif Pro', serif;
    font-size: 20px;
    grid-column: 2 / 2;
    margin: 0 4px;
    z-index: 10;
}

html body header div.msg p{
    transition: color 0.6s ease-in-out;
}

header div.msg p#first > span{
    position: absolute;
    margin: 2px 0 0 -0.6em;
}

/*
//white: #F0F0F0
//red:  #DD6D6E
//orange: #FEB479
//yellow: #F9E586
//black: #242424
*/

header div.msg span#til{
    align-self: flex-end;
    display: none;
    grid-column: 1 / 1;
    transform: translateY(1px);
}

span.marker{
    position: relative;
    width: 100%;
}

span.high-light{
    background-color: #DD6D6E;
    bottom: 4px;
    height: 6px;
    position: absolute;
    width: 100%;
    z-index: -10;
}

header div.audio{
    align-items: center;
    cursor: pointer;
    display: none;
    height: 24px;
    margin-left: 38px;
    width: 66px;
}

header div.audio audio{
    display: none;
}

header div.audio button{
    background-color: transparent;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-style: none;
    cursor: pointer;
    height: 21px;
    overflow: hidden;
    transition: background 0.8s ease-in-out;
    width: 21px;
}

div.audio button.on-black{
    background-image: url('../img/icon/audio-on-black.svg');
}
div.audio button.on-white{
    background-image: url('../img/icon/audio-on-white.svg');
}
div.audio button.off-black{
    background-image: url('../img/icon/audio-off-black.svg');
}
div.audio button.off-white{
    background-image: url('../img/icon/audio-off-white.svg');
}

header div.audio button:focus{
    outline: none;
}

header div.audio p{
    color: #242424;
    font-family: 'Source Serif Pro', serif;
    font-size: 13pt;
    margin: 0 0;
}

/*
##########- MENU -##########
*/

div#grid menu.main{
    background-color: #F0F0F0;
    border: 3px solid #242424;
    box-shadow: 6px 4px 0px #C2C2C2;/*rgba(130,130,130,0.5);/*#C2C2C2;/*9.5px 6px 0px #A9A9A9;*/
    box-sizing: border-box;
    height: 42px;
    margin-bottom: 26px;
    max-height: unset;
    max-width: unset;
    padding: 0;
    position: sticky;
    transition: max-height 0.8s ease-in-out, max-width 0.8s ease-in-out, border-color 0.7s ease-in-out, background-color 0.7s ease-in-out, box-shadow 0.7s ease-in-out;
    top: 6px;
    width: 100%;
    z-index: 10;
}

menu.main ul{
    align-items: center;
    display: flex;
    height: 100%;
    list-style: none;
    margin: 0;
    max-height: unset;
    max-width: unset;
    padding: 0;
    position: relative;
    transition: max-height 0.8s ease-in-out, max-width 0.8s ease-in-out ;
    width: 100%;
}

menu.main button.expand{
    background-color: transparent;
    border-style: none;
    display: none;
    height: 100%;
    padding: 0;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 100;
}

button.menu-black{
    background-image: url('../img/icon/menu-black.svg');
}

button.menu-white{
    background-image: url('../img/icon/menu-white.svg');
}

button.back-black{
    background-image: url('../img/icon/back-black.svg');
}

button.back-white{
    background-image: url('../img/icon/back-white.svg');
}

menu.main button.expand:focus{
    outline: none;
}

menu.main li.logo{
    flex-grow: 0.8;
}

menu.main li.logo img{
    width: 80px;
}

menu.main li.logo svg{
    width: 80px;
}

menu.main ul li{
    display: inline-flex;
    padding: 0 15px;
}
menu.main ul li a{
    color: #242424;
    display: inline-flex;
    font-family: 'Source Serif Pro', serif;
    font-size: 20px;
    height: 25px;
    text-decoration: none;
}

menu.main ul li a:hover{
    text-decoration: underline;
}

menu.main ul li a#color:hover{
    text-decoration: none;
}

menu.main ul li a > button{
    background-color: #DD6D6E;
    border: 3px solid #242424;
    border-radius: 100%;
    cursor: pointer;
    height: 25px;
    margin: 0px 10px;
    padding: 0;
    transform: scale(1.10,1.10);
    width: 25px;
}

menu.main ul li a > button:focus, menu.main ul li a > button:active{
    outline: none;
}

/*
##########- SECTION -##########
*/

div#grid div.section{
    grid-column: 3 / 4;
}

div#grid div.position-link{
    position: relative;
    top: -80px;
}

div#grid section{
    background-color: #F0F0F0;
    border: 3px solid #242424;
    box-shadow: 6px 4px 0px #C2C2C2;
    box-sizing: border-box;
    margin: 0 0 18px 0;
    padding: 0 0 15px 0;
    width: 100%;
}

div#grid section.high-light{
    background-color: #DD6D6E;
}

div#grid h1{
    color: #242424;
    font-family: 'Source Serif Pro Semibold', serif;
    font-size: 21pt;
    font-weight: normal;
    margin: 10px 15px 15px 15px;
}

div#grid section p{
    color: #242424;
    font-family: 'Source Serif Pro', 'Sawarabi Gothic', serif ;
    font-size: 14pt;
    margin: 8px 15px;
}

div#banner-space{
    position: relative;
}

div.banner-box{
    background-color: #DD6D6E;
    height: 0;
    perspective: 1000px;
    position: sticky;
    top: 70px;
    width: 0;
    z-index: 10;
}

div.banner-box > div{
    background-color: #DD6D6E;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    box-shadow: 6px 4px 0px #C2C2C2;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    padding: 8px 0 8px 8px;
    position: sticky;
    transform-origin: 0% 50%;
    transform-style: preserve-3d;
    transition: background 0.8s ease-in-out, box-shadow 0.8s ease-in-out, transform 0.4s cubic-bezier(.68,.03,.58,1);
    width: 256px;
}

div.banner-box div img{
    width: 214px;
}
div.banner-box div p{
    color: #242424;
    flex-grow: 1;
    font-family: 'Source Serif Pro', serif;
    font-size: 11pt;
    margin: 10px 0 10px 2px;
    text-align: justify;
    width: 214px;
}

div.banner-box div p span.bold{
    font-weight: bold;
}

div.banner-box div div{
    align-self: flex-end;
    height: 100%;
    position: absolute;
    top: 0;
    width: 34px;
}

div.banner-box div > div button{
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    border-style: none;
    display: block;
    height: 34px;
    margin-top: 4px;
    width: 34px;
}

/*
##########- FIGURE -##########
*/

div#grid div.photo{
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 32px 0 12px 0;
}

div#grid div.photo h1{
    margin: 0 8px 0 0 ;
}

div#grid div.photo hr{
    background-color: #242424;
    border: none;
    margin: 0;
    flex-grow: 1;
    height: 3px;
}

div.section figure{
    display: grid;
    grid-template-columns: 100% 48px;
    grid-template-rows: 1fr 160px;
    margin: 0 0 32px 0;
    width: 87%;

}

div.section figure img{
    box-shadow: 6px 4px 0px #C2C2C2;
    filter: contrast(99%) brightness(98%);
    grid-row: 1/3;
    width: 100%;
}

figure div.info{
    display: grid;
    grid-row: 1/3;
    grid-template-columns: 48px 240px;
}

figure div.info div.date{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 48px;
}

figure div.info div.date p{
    color: #242424;
    font-family: 'Source Serif Pro Semibold', serif;
    font-size: 22pt;
    margin: 2px 0 0 0;
}

figure div.info div.desc{
    display: flex;
    flex-direction: column;
    grid-column: 2/4;
    justify-content: flex-end;
    margin: 0 0 0 15px;
}

div.info div.desc p,div.info div.desc h1 {
    color: rgba(36,36,36,0.8);
    font-family: 'Source Serif Pro', serif;
    font-size: 14pt;
    letter-spacing: 2px;
    margin: 0 0 0 0;
    z-index: 1;
}

div#grid div.info div.desc h1.title{
    color: #242424;
    font-family: 'Source Serif Pro Semibold', serif;
    font-size: 22pt;
    margin: 0 0 0 0;
    letter-spacing: 10px;
}

div.desc span.high-light{
    bottom: 3px;
    height: 8px;
    width: 112%;
}

/*
##########- ASIDE -##########
*/

div#grid div.aside{
    grid-column: 5/6;
}

div#grid aside{
    background-color: #F0F0F0;
    border: 3px solid #242424;
    box-shadow: 6px 4px 0px #C2C2C2;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
}

div#grid aside p{
    color: #242424;
    font-family: 'Source Serif Pro', serif;
}

div#grid aside p#list{
    font-family: 'Source Serif Pro Semibold', serif;
    font-size: 18pt;
    margin: 15px 15px 6px 15px;
}

div#grid aside ul{
    flex-grow: 1;
    list-style-type: none;
    list-style-position: inside;
    margin: 0 15px;
    padding: 0;
    color: #242424;
}

aside ul li:before{
    content: " - ";
    padding: 0 2px;
}

aside ul li a{
    color: #242424;
    font-size: 14pt;
    text-decoration: none;
}

aside ul li a:hover{
    text-decoration: underline;
}

aside div#search{
    display: grid;
    grid-template-columns: 72px 30px 1fr;
    grid-template-rows: 50px 16px 25px 28px;
    height: 120px;
    margin: 10px 0;
}

aside p#ask{
    grid-column: 1 / 1;
    grid-row: 1 / 3;
    font-size: 100pt;
    line-height: 1;
    margin: 0 0 0 15px;
    width: 60px;
}

aside p.input{
    color: #242424;
    font-size: 14pt;
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    line-height: 1.6;
    margin: 0;
}

aside p.input span{
    display: block;
}

p.input span#or{
    font-size: 10pt;
    line-height: 1;
}

p.input#for{
    align-items: center;
    display: flex;
    grid-row: 4 /4;
}

aside form{
    align-items: center;
    display: flex;
    grid-column: 3/3;
    grid-row: 4/4;
    height: 100%;
    margin:0 15px 0 2px;
}

aside input, form input, form textarea {
    background-color: rgb(130,130,130,0.1);
    border: 0px solid #F0F0F0;
    border-radius: 2px;
    box-shadow: inset 0px 0px 5px rgba(36,36,36,0.2);
    box-sizing: border-box;
    color: #242424;
    font-family: 'Source Serif Pro', serif;
    font-size: 13pt;
    height: 24px;
    margin: 0 15px 0 1px;
    padding: 0 0 0 6px;
    width: 100%;
}

aside input:focus{
    outline: 0px none;
}

aside::placeholder{
    color: #C2C2C2;
}

button#more{
    background-color: transparent;
    border-style: none;
    border: 3px solid #242424;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    color: #242424;
    cursor: pointer;
    font-family: 'Source Serif Pro', serif;
    font-size: 13pt;
    height: 32px;
    width: 100%;
}

button#more:focus, button#more:active{
    outline: none;
}

div.aside aside ul#ul-all{
    display: block;
    margin: 0 15px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-in-out, margin-top 1s ease-in-out;
}

footer{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 420px;
    padding: 140px 0 40px 0;
}

footer div#icon{
    height: 66px;
    width: 66px;
}

footer p{
    color: #242424;
    font-family: 'Source Serif Pro Semibold', serif;
    font-size: 13pt;
    margin: 2px 0;
}

footer ul{
    display: flex;
    margin: 10px 0 0 0;
    padding: 0;
}

footer ul li{
    list-style-type: none;
    margin: 0 4px;
    padding: 0 2px;
}

footer ul li a{
    color: rgba(36,36,36,0.7);
    font-family: 'Source Serif Pro', serif;
    font-size: 11pt;
    text-decoration: none;
}

footer ul li a:hover{
    text-decoration: underline;
}

footer form{
    display: inline;
    margin-top: 80px;
    max-width: 202px;
}

footer form p{
    font-size: 18pt;
    margin: 8px 0;
    max-width: 100%;
}

footer label{
    color: #242424;
    display: block;
    font-family: 'Source Serif Pro', serif;
    font-size: 11.5pt;
    margin: 12px 0 0 0;
}

footer form input, form textarea{
    display: inline-flex;
    font-size: 11.5pt;
    height: 28px;
    margin: 0 0;
    max-width: 100%;
    padding: 2px 0 0 4px;
}

form textarea{
    height: 98px;
    min-height: 30px;
    min-width: 100%;
}

form p#required{
    color: rgba(36,36,36,0.7);
    font-size: 8pt;
}

div#grid footer form div.resize-input{
    display: flex;
}

footer form input#email{
    margin: 0 2px 0 0;
    max-width: 84px;
    padding: 0 0 0 4px;
    transition: max-width 0.8s ease-in-out;
}

footer form input#phone{
    margin: 0 0 0 2px;
    max-width: 114px;
    padding: 0 0 0 4px;
    transition: max-width 0.8s ease-in-out;
}

footer form input#email:focus{
    max-width: 130px;
}

footer form input#email:focus + input#phone{
    max-width: 68px;
}

form input#submit{
    background-color: #DD6D6E;
    border-radius: 3px;
    box-shadow: 0px 0px 5px rgba(36,36,36,0.2);
    cursor: pointer;
    font-family: 'Source Serif Pro', serif;
    height: 30px;
    justify-content: center;
    padding: 4px 2px;
    text-align: center;
}

@media (min-width: 1440px){
    div#grid{
        grid-template-columns: 5fr 80px 6.7fr 0.2fr 3.5fr 80px 5fr;
    }

    menu.main ul{
        box-sizing: border-box;
        justify-content: space-between;
        padding-right:  15px;
    }

    menu.main ul li.logo{
        flex-grow: 1;
    }

}

@media (min-width: 2010px){
    div#grid{
        grid-template-columns: 4fr 80px 6.7fr 0.2fr 377px 80px 4fr;
    }

}

@media (max-width: 1100px){
        body{
        background-size: auto 600px;
    }

}

@media (max-width: 860px){
    div#grid{
        grid-template-columns: 0fr 20px 65fr 2fr 33fr 20px 0fr;
    }

}

@media (max-width: 700px){
    div#grid {
        grid-template-columns: 0fr 20px 1fr 20px 0fr;
    }
    div#grid > *{
        grid-column: 3/3;
    }

    div#grid div.aside{
        grid-column: 3/3;
    }

    div#grid figure{
        width: 50%;
    }

    figure div.info{
        grid-template-columns: 48px 1fr;
    }
}

@media (max-width: 680px){
    div#grid header{
        justify-content: space-around;
    }
    header div.logo{
        margin-right: 0;
    }
    menu.main ul li.logo{
        display: none;
        margin: 0;
    }
    menu.main ul{
        justify-content: space-around;
    }

}

@media (max-width: 500px){
    div#grid menu.main{
        max-height: 40px;
        max-width: 40px;
    }

    menu.main ul{
        align-items: flex-start;
        flex-direction: column;
        height: 178px;
        justify-content: flex-start;
        max-height: 0px;
        overflow: hidden;
    }

    menu.main ul li{
        margin: 10px 0;
    }

    menu.main button.expand{
        background-position: center;
        background-size: 20px 20px;
        background-repeat: no-repeat;
        display: block;
        height: 34px;
        top: 0;
        width: 34px;
    }

    header div.msg{
        display: none;
    }

}

@media (max-width: 480px){

    div#grid figure div.info{
        grid-column: 1/3;
        grid-row: 3/3;
    }

    div#grid figure div.info div.date{
        grid-column: 3/3;
        grid-row: 2/3;
        margin: -40px 0 20px 0;
    }

    body div#grid figure div.info div.desc{
        grid-column: 1/4;
        grid-row: 2/3;
        justify-content: center;
    }

    div#grid header{
        justify-content: space-around; /*flex-start;*/
    }

    div#grid figure {
        width: 70%;
    }
}

@media (max-width: 410px){
    div#grid div.info div.desc h1.title{
        font-size: 16pt;
    }

    div#grid figure {
        width: 80%;
    }
}

@media (max-width: 360px){
    div#grid div.info div.desc h1.title{
        display: none;
    }

}

@media (max-width: 350px){

    div#grid figure div.info{
        grid-column: 2/3;
        grid-row: 1/3;
    }

    div#grid figure div.info div.date{
        grid-column: 1/3;
        grid-row: 3/3;
        margin: 4px 0 20px 0;
    }

    figure div.info div.desc{
        justify-content: center;
    }

    div#grid div.info div.desc{
        display: none;
    }

    
}

@media (max-width: 280px){

    div#grid figure div.info{
        grid-column: 1/3;
        grid-row: 3/3;
    }

    div#grid figure div.info div.date{
        display: none;
    }

    div#grid div.info div.desc{
        display: block;
    }

    div#grid div.info div.desc h1.title{
        display: block;
        margin: 10px 0;
    }

    div#grid div.info div.desc p{
        display: none;
    }

    div#grid figure {
        width: 80%;
    }
}